h1{
  font-size: 56px;
  font-family: Papyrus, Arial;
  color: blue;
}

div.block1{
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  color: blue;
  background-color: white;
  float: left;
}

div.block2{
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  color: blue;
  background-color: white;
  float: left;
}

div.block3{
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  color: blue;
  background-color: white;
  float: left;
}

div.block4{
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  color: blue;
  background-color: white;
  float: left;
}
